*
{
	margin:0;
	padding:0;
}

/*.logo
{
	
	background-color: #10805F;
	height:120px;
	width: 280px;
	padding: 0px;
	margin: 0px;
}

.logo img
{
	height: 100%;
	width: 100%;

}


 .search
{
	
	height:60px;
	
	
	
}
*/

	

    .search {
       
       height:40px;
       text-align:center;
       margin-left:10px;
       

    }
    .search-input
    {
    	height:33px;
    }

    .header-nav
     {
     	padding-top:10px;

     }

     
     .header-nav li
     {
     	display: inline;
     	padding-left: 15px;
     }



.site-footer
{
	background: #333;
	color: #fff;
}
.bottom-footer
{
	border-top: 1px solid #b2b2b2;
	margin-top:10px;
	padding-top: 10px;
}
.footer-nav
{
	text-align:right;
}
.footer-nav li
{
	display: inline;
	list-style: none;
}
	
.footer-nav li:not(:first-child):before
{
	content: '|';
	padding:10px;
}
.footer-nav li a:hover
{
	color:white;
	text-decoration: none;
	
	-ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
    -webkit-transition:transform 1s; /* For Safari 3.1 to 6.0 */
    transition: transform 1s;
}
	
	

 

